.formContainer{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 6px;
}

.inputContainer input,
.inputContainer textarea{
    padding: 0.3rem 0.7rem;
    border: 2px solid #E5E7EB;
    border-radius: 4px;
    outline: none;
    margin-top: 0.3rem;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.editBtn{
    float: right;
}
.editBtn button{
    width: 10rem;
    height: 2.2rem;
    border-radius: 8px;
    cursor: pointer;
    background: none;
    border: 1px solid;
    letter-spacing: 1px;
}