
.containter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    position: absolute;
    top: 30px;
    padding-top: 10px;
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem;
    color: white;
}

.subtitle {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: white;
}


.summaryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loadingText {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: white;
}

.loadingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.summary {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: white;
}

.pdf-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}